$orange: #C06014
$dark-grey: #1E201E
$steel-grey: #536162
$softer-grey: #b6c9ca
$off-white: #F3F4ED
$blue: #86BBD8


*
  box-sizing: border-box

body
  width: 100vw
  height: 100vh

  background-color: $off-white
  color:$dark-grey

nav
  width: 100vw
  height: 10vh
  display: flex
  justify-content: center
  align-items: center
  div
    font-size: 3rem

main
  width: 100vw
  height: 85vh

footer
  width: 100vw
  height: 5vh

// classes

.form-overlay
  position: fixed
  top: 0
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh


.form-container
  width: 30vw
  height: 20vh

  background-color: $softer-grey




// id

#player-information
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  width: inherit
  height: inherit

  div
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: inherit
