$orange: #C06014
$dark-grey: #1E201E
$steel-grey: #536162
$off-white: #F3F4ED
$blue: #86BBD8


*
  box-sizing: border-box

body
  height: 100vh
  width: 100vw

  background-color: $off-white
  color:$dark-grey

nav
  height: 10vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center
  div
    font-size: 3rem

main
  height: 85vh
  width: 100vw

footer
  height: 5vh
  width: 100vw

// classes

.form-overlay
  position: fixed
  top: 0
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100vw

// id

